html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
nav a {
  margin-top: 1.9%;
  text-decoration: none;
  font-size: 2rem;
  color: ghostwhite;
}
nav a:hover {
  color: gray;
}
@media (max-width: 500px) {
  nav a {
    font-size: 1.3rem;
  }
}
nav img {
  margin-top: 0.2%;
}
nav h1 {
  color: ghostwhite;
  font-size: 3rem;
  margin-top: 1.2%;
}
@media (max-width: 500px) {
  nav h1 {
    font-size: 2rem;
  }
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  font-family: 'Rokkitt', serif;
}
#Container {
  width: 100%;
  margin: 0 auto;
}
#Container header {
  background-image: url(https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#Container header .heading {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}
@media (max-width: 500px) {
  #Container header .heading {
    text-align: center;
  }
}
#Container header .heading h2 {
  margin: 2% 0;
  font-size: 2rem;
  color: black;
  letter-spacing: 10px;
  font-family: 'Graduate', cursive;
  padding: 1%;
  background-color: #FFFFFF;
  opacity: 0.6;
  text-shadow: 2.5px 2.5px 2.5px aqua;
}
#Container header .heading button {
  width: 450px;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 90px;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.8;
  border-radius: 20px;
  border: 2px silver solid;
}
#Container header .heading button a {
  text-decoration: none;
  font-size: 1rem;
  color: ghostwhite;
  padding: 2%;
}
#Container header .heading button a:hover {
  color: grey;
}
@media (max-width: 500px) {
  #Container header .heading button {
    border-radius: 40px;
  }
}
#Container .aboutUs {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 3% 20%;
}
@media (max-width: 500px) {
  #Container .aboutUs {
    text-align: center;
    width: 80%;
    align-items: center;
    margin: 10%;
  }
}
#Container .aboutUs h2 {
  font-size: 2.8rem;
  color: rebeccapurple;
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  #Container .aboutUs h2 {
    font-size: 2.1rem;
  }
}
#Container .aboutUs p {
  font-size: 1.4rem;
  color: gray;
  letter-spacing: 1.5px;
}
@media (max-width: 500px) {
  #Container .aboutUs p {
    text-align: center;
  }
}
#Container .steps {
  background-image: url(https://images.unsplash.com/photo-1572981872601-f290409c0bdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding: 1.5%;
}
@media (max-width: 500px) {
  #Container .steps {
    display: flex;
    flex-direction: column;
  }
}
#Container .steps .stepsInfo {
  display: flex;
  flex-direction: column;
  background-color: gray;
  opacity: 0.7;
  text-align: center;
  margin: 2%;
  width: 100%;
  padding: 2%;
}
@media (max-width: 500px) {
  #Container .steps .stepsInfo {
    width: 97%;
    margin: 1.3%;
  }
}
#Container .steps .stepsInfo h2 {
  font-size: 3.2rem;
  text-align: center;
  margin: 4%;
  color: ghostwhite;
}
@media (max-width: 500px) {
  #Container .steps .stepsInfo h2 {
    font-size: 1.4rem;
  }
}
#Container .steps .stepsInfo h3 {
  font-size: 1.9rem;
  text-align: center;
  margin: 4%;
  background-color: darkviolet;
  color: ghostwhite;
  padding: 2%;
}
@media (max-width: 500px) {
  #Container .steps .stepsInfo h3 {
    margin: 0;
    font-size: 1.3rem;
  }
}
#Container .steps .stepsInfo p {
  font-size: 1.2rem;
  color: #FFFFFF;
  letter-spacing: 1.9px;
  margin: 4%;
  line-height: 22px;
}
@media (max-width: 500px) {
  #Container .steps .stepsInfo p {
    letter-spacing: 0;
    font-size: 1rem;
  }
}
#Container .missionStatement {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
}
@media (max-width: 500px) {
  #Container .missionStatement {
    text-align: center;
  }
}
#Container .missionStatement h2 {
  font-size: 3rem;
  color: black;
  padding: 4%;
}
@media (max-width: 500px) {
  #Container .missionStatement h2 {
    margin: 8%;
  }
}
#Container .missionStatement p {
  font-size: 1.3rem;
}
#Container .fitnessImages {
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: 0.8;
}
@media (max-width: 500px) {
  #Container .fitnessImages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#Container .fitnessImages img {
  width: 33.3%;
}
@media (max-width: 500px) {
  #Container .fitnessImages img {
    width: 100%;
  }
}
#Container .aboutApp {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#Container .aboutApp .writingAreaTwo {
  background-color: black;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 8% 0;
  width: 100%;
}
#Container .aboutApp .writingAreaTwo h2 {
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  text-align: center;
  padding-top: 2%;
  letter-spacing: 1.5px;
  line-height: 45px;
}
@media (max-width: 500px) {
  #Container .aboutApp .writingAreaTwo h2 {
    font-size: 1.5rem;
  }
}
#Container .aboutApp .writingAreaTwo img {
  width: 300px;
  height: 100px;
}
@media (max-width: 500px) {
}
#Container .aboutApp .writingAreaTwo .alinks {
  margin-top: 2%;
  text-align: center;
}
@media (max-width: 500px) {
  #Container .aboutApp .writingAreaTwo .alinks {
    display: flex;
    flex-direction: row;
  }
}
.body {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
}
.body .content-container {
  margin-top: 5%;
  background-color: black;
  color: white;
}
.body .content-container a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
.body .content-container h1 {
  font-size: 4rem;
  text-align: center;
  margin: 5%;
}
@media (max-width: 500px) {
  .body .content-container h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.9rem;
  }
}
.body .content-container .firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 7%;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .body .content-container .firstRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .content-container .firstRow p {
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 2%;
}
.body .content-container .firstRow p:hover {
  color: lightblue;
}
@media (max-width: 500px) {
  .body .content-container .firstRow p {
    width: 95%;
    font-size: 1.1rem;
  }
}
.body .content-container .firstRow h2 {
  font-size: 2.2rem;
  text-align: center;
  background-color: darkmagenta;
  opacity: 0.8;
}
.body .content-container .firstRow h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: gray;
  opacity: 0.7;
  font-weight: bold;
  padding: 1%;
}
.body .content-container .firstRow .Brandy {
  Width: 300px;
}
@media (max-width: 500px) {
  .body .content-container .firstRow .Brandy {
    margin-top: 8%;
    margin-bottom: 2%;
  }
}
.body .content-container .secondRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 7%;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .body .content-container .secondRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .content-container .secondRow p {
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 2%;
}
.body .content-container .secondRow p:hover {
  color: lightblue;
}
@media (max-width: 500px) {
  .body .content-container .secondRow p {
    width: 95%;
    font-size: 1.1rem;
  }
}
.body .content-container .secondRow h2 {
  font-size: 2.2rem;
  text-align: center;
  background-color: darkmagenta;
  opacity: 0.8;
}
.body .content-container .secondRow h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: gray;
  opacity: 0.7;
  font-weight: bold;
  padding: 1%;
}
.body .content-container .secondRow .Lynda {
  Width: 300px;
}
@media (max-width: 500px) {
  .body .content-container .secondRow .Lynda {
    margin-top: 8%;
    margin-bottom: 2%;
  }
}
.body .content-container .thirdRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 7%;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .body .content-container .thirdRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .content-container .thirdRow p {
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 2%;
}
.body .content-container .thirdRow p:hover {
  color: lightblue;
}
@media (max-width: 500px) {
  .body .content-container .thirdRow p {
    width: 95%;
    font-size: 1.1rem;
  }
}
.body .content-container .thirdRow h2 {
  font-size: 2.2rem;
  text-align: center;
  background-color: darkmagenta;
  opacity: 0.8;
}
.body .content-container .thirdRow h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: gray;
  opacity: 0.7;
  font-weight: bold;
  padding: 1%;
}
.body .content-container .thirdRow .Bharat {
  Width: 300px;
}
@media (max-width: 500px) {
  .body .content-container .thirdRow .Bharat {
    margin-top: 8%;
    margin-bottom: 2%;
  }
}
.body .content-container .fourthRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 7%;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .body .content-container .fourthRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .content-container .fourthRow p {
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 2%;
}
.body .content-container .fourthRow p:hover {
  color: lightblue;
}
@media (max-width: 500px) {
  .body .content-container .fourthRow p {
    width: 95%;
    font-size: 1.1rem;
  }
}
.body .content-container .fourthRow h2 {
  font-size: 2.2rem;
  text-align: center;
  background-color: darkmagenta;
  opacity: 0.8;
}
.body .content-container .fourthRow h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: gray;
  opacity: 0.7;
  font-weight: bold;
  padding: 1%;
}
.body .content-container .fourthRow .Kyle {
  Width: 300px;
}
@media (max-width: 500px) {
  .body .content-container .fourthRow .Kyle {
    margin-top: 8%;
    margin-bottom: 2%;
  }
}
.body .content-container .fifthRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 7%;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .body .content-container .fifthRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .content-container .fifthRow p {
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 2%;
}
.body .content-container .fifthRow p:hover {
  color: lightblue;
}
@media (max-width: 500px) {
  .body .content-container .fifthRow p {
    width: 95%;
    font-size: 1.1rem;
  }
}
.body .content-container .fifthRow h2 {
  font-size: 2.2rem;
  text-align: center;
  background-color: darkmagenta;
  opacity: 0.8;
}
.body .content-container .fifthRow h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: gray;
  opacity: 0.7;
  font-weight: bold;
  padding: 1%;
}
.body .content-container .fifthRow .Danial {
  Width: 300px;
}
@media (max-width: 500px) {
  .body .content-container .fifthRow .Danial {
    margin-top: 8%;
    margin-bottom: 2%;
  }
}
.body .content-container .sixRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 7%;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .body .content-container .sixRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .content-container .sixRow p {
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 2%;
}
.body .content-container .sixRow p:hover {
  color: lightblue;
}
@media (max-width: 500px) {
  .body .content-container .sixRow p {
    width: 95%;
    font-size: 1.1rem;
  }
}
.body .content-container .sixRow h2 {
  font-size: 2.2rem;
  text-align: center;
  background-color: darkmagenta;
  opacity: 0.8;
}
.body .content-container .sixRow h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: gray;
  opacity: 0.7;
  font-weight: bold;
  padding: 1%;
}
.body .content-container .sixRow .Kenji {
  Width: 300px;
}
@media (max-width: 500px) {
  .body .content-container .sixRow .Kenji {
    margin-top: 8%;
    margin-bottom: 2%;
  }
}
.body .content-container .sevenRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 7%;
  border-radius: 25px;
}
@media (max-width: 500px) {
  .body .content-container .sevenRow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .content-container .sevenRow p {
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 2%;
}
.body .content-container .sevenRow p:hover {
  color: lightblue;
}
@media (max-width: 500px) {
  .body .content-container .sevenRow p {
    width: 95%;
    font-size: 1.1rem;
  }
}
.body .content-container .sevenRow h2 {
  font-size: 2.2rem;
  text-align: center;
  background-color: darkmagenta;
  opacity: 0.8;
}
.body .content-container .sevenRow h3 {
  font-size: 1.5rem;
  text-align: center;
  background-color: gray;
  opacity: 0.7;
  font-weight: bold;
  padding: 1%;
}
.body .content-container .sevenRow .Enzo {
  Width: 300px;
}
@media (max-width: 500px) {
  .body .content-container .sevenRow .Enzo {
    margin-top: 8%;
    margin-bottom: 2%;
  }
}
.body .content-container img {
  border-radius: 50%;
}
@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Graduate'), local('Graduate-Regular'), url(https://fonts.gstatic.com/s/graduate/v7/C8cg4cs3o2n15t_2YxgR.ttf) format('truetype');
}
