        *{
            box-sizing: border-box;
        }

        body{
            font-family: 'Rokkitt', serif;
        
        
        }
    #Container {
     width: 100%;
     margin: 0 auto;
      header {
      background-image: url(https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
      height: 90vh; 
      margin: 0 auto;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      background-attachment: fixed;
      @media @mobile{
        height:600px;
    }//this closes media query for heading
      .heading {
          .flex(flex,column);
          margin-top:10%;
          align-items: center;
                      
          @media @mobile{
            text-align: center;
        }//this closes media query for heading
          
      h2 {
          
          margin: 2% 0;
          font-size: 2rem;
          color: @black;
          letter-spacing: 10px;
          font-family: 'Graduate', cursive;
          padding: 1%;
          background-color: @white;
          opacity: 0.6;
          text-shadow: 2.5px 2.5px 2.5px aqua;
      }//this closes h2


      button {
        // .button-styles(12%,0.3%,25%);
        // width: 30%;
        // margin: 8%;
        //   align-items: center;
        //  .button-styles(28%, 10%, center);
        .button-styles(450px, 200px, center);
          background-color:@black;
          color:  @white;
           text-align: center;
           .flex(flex,row);
           justify-content: space-between;
           opacity: 0.8;
           border-radius: 20px;
           border: 2px silver solid;
       
           
       a{
       text-decoration: none;
       font-size: 1rem;
        color: @ghostwhite;
        padding: 2%;
        &:hover{
            color:grey;
                  
            }//this closes hover
       }//this closes a

       @media @mobile{
        border-radius: 40px;
        .button-styles(90%, 190px, center);
        }//this closes media query for heading
       }//this closes button
    }//this closes heading class
    }//this closes header


 .aboutUs{
    background-color: @white;
    .flex(flex,column);
    align-items: center;
    width: 60%;
    margin: 3% 20%;
    @media @mobile{
        text-align: center;
        width: 80%;
        align-items:  center;
        margin: 10%;
    }//this closes media query for .aboutUs

    h2{
     font-size: 2.8rem;
     color: @rebeccapurple;
     margin-bottom: 4%;
     @media @mobile{
        font-size: 2.1rem;
    }//this closes media query for h2
   
    }//this closes h2
    p{
        font-size: 1.4rem;
        color: @gray;
        letter-spacing: 1.5px;
        @media @mobile{
            text-align: center;
            // margin-top: 5%;
        }//this closes media query for p
    }//this closes p
 }//this closes aboutUs

.steps{
    background-image: url(https://images.unsplash.com/photo-1572981872601-f290409c0bdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    width: 100%;
    
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      display: flex;
      flex-direction: row;
      padding: 1.5%;
      @media @mobile{
        display: flex;
        flex-direction: column;
       
        // height: 750px;
    }//this closes media query for .steps
    
      
     

    .stepsInfo{
        .flex(flex,column);
        background-color: @gray;
        opacity: 0.7;
        text-align: center;
        margin: 2%;
        width: 100%;
        padding: 2% 2%;
        @media @mobile{
            width: 97%;
            margin: 1.3%;
           
          
        }//this closes media query for .stepsInfo
       
    h2{
        font-size: 3.2rem;
        text-align: center;
        margin: 4%;
        color: @ghostwhite;
        @media @mobile{
            font-size: 1.4rem;
        }//this closes media query for h2
       
        
    }//this closes h2
    h3{
        font-size: 1.9rem;
        text-align: center;
        margin: 4%;
        background-color:@darkviolet;
        color: @ghostwhite;
        @media @mobile{
           margin:0;
           font-size: 1.3rem;
        }//this closes media query for h3
    }//this closes h3
    p{
        font-size: 1.2rem;
        color: @white;
        letter-spacing: 1.9px;
        margin: 4%;
        line-height: 22px;
        @media @mobile{
            letter-spacing: 0;
            font-size: 1rem;
        }//this closes media query for heading
        
    }//this closes p

    }//this closes stepsInfoOne
    }//this closes steps class


    .missionStatement{
        
     background-color: @gainsboro;
    .flex(flex,column);
    height: 300px;
    align-items: center;
    @media @mobile{
        text-align: center;
        
    }//this closes media query for .missionStatement

        h2{
            
            font-size: 3rem;
            color: @black;
            padding: 4%;
            @media @mobile{
                margin:8%;
            }//this closes media query for h2
        }//this closes h2

        p {
         font-size: 1.3rem;
        }//this closes p
    }//this closes missionStatement





    .fitnessImages{
        .flex(flex,row);
        width: 100%;
        opacity: 0.8;
        @media @mobile{
            .flex(flex,column);
            align-items: center;
        }//this closes media query for fitnessImages
        img {
            width:33.3%;
            @media @mobile{
                width: 100%;
            }//this closes media query for img
        
            
        }//this closes img
    }//this closes mission statement class
    .aboutApp{
        .flex(flex,row);
        width: 100%;
       
        .writingAreaTwo{
        background-color: @black;
        color: @white;
        display: flex;
        flex-direction: column;
        padding: 8% 0;
        width: 100%;
        
            h2{
                .flex(flex,column);
                font-size: 2.2rem;
                text-align: center;
                padding-top: 2%;
                letter-spacing: 1.5px;
                line-height: 45px;
                @media @mobile{
                
                font-size: 1.5rem;
                    
                }//this closes media query for h2
            }//this closes h2
        img {
            
            width:300px;
            height:100px;
            @media @mobile{
                // margin: 2%;
            }//this closes media query for img
        }
        .alinks {
            margin-top: 2%;
           text-align: center;
           @media @mobile{
            .flex(flex,row);
        
        }//this closes media query for alinks
        }//this closes alinks
        
        }//this closes writingAreaTwo class
}//this closes aboutApp class


}//this closes container


