.button-styles(@width, @margin, @alignItems){
   width: @width;
   margin: @margin;
   align-items: @alignItems;
}


    .flex(@display, @direction){
       display: @display;
       flex-direction: @direction;
    }

  