nav{
   background-color: rgb(27, 27, 27);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    
    a {
    
        
        margin-top: 1.9%;
        text-decoration: none;
        font-size: 2rem;
        color: ghostwhite;
        &:hover{
            background-color:gray;
           
        }//this closes hover
    }//this closes a
    img {
       
        margin-top: 0.2%;
    }//this closes img
    h1{
        color: ghostwhite;
        font-size: 3rem;
        margin-top: 1.2%;
     
    }//this closes h1
}//this closes nav