nav{
  
   background-color: @nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
    @media @mobile {
        display:flex;
        flex-direction: column;
        align-items: center;
    }//this closes media query for nav
    
    a {
    
      
        margin-top: 1.9%;
        text-decoration: none;
        font-size: 2rem;
        color: @ghostwhite;
        &:hover{
            color:@gray;
           
        }//this closes hover

        @media @mobile{
            font-size: 1.7rem;
        }//this closes media query for a links

    }//this closes a
    img {
       
        margin-top: 0.2%;
    }//this closes img
    h1{
        color: @ghostwhite;
        font-size: 3rem;
        margin-top: 1.2%;
        @media @mobile{
            font-size: 2.6rem;
        }//this closes media query for h1
    }//this closes h1
}//this closes nav