@white: #FFFFFF;
@silver: #C0C0C0;
@black: black;
@ghostwhite: ghostwhite;
@rebeccapurple: rebeccapurple;
@gray: gray;
@darkviolet: darkviolet;
@gainsboro: gainsboro;
@nav: rgb(27,27,27);

@mobile: ~"(max-width: 500px)";